
.scene {
	width: 100%;
	height: 50px;
	perspective: 2000px;
	transform-style: preserve-3d;
}

.cube {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}
.face {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: visible;
	background-color: white;
	opacity: 0.8;
	border: 1px solid black;
}
.front {
	transform: translateZ(25px) !important;
	perspective: 500px;
}
.back {
	transform: rotateY(-180deg) rotateZ(180deg) translateZ(25px) !important;
}
.left {
	width: 50px;
	transform: rotateY(-90deg) translateZ(25px);
	backface-visibility: visible;
	background-color: red;
	overflow: visible;
}

.right {
	width: 50px;
	transform: rotateY(90deg);
	right: -28px;
	backface-visibility: visible;
	background-color: green;
	overflow: visible;
}

.top {
	transform: rotateX(90deg) translateZ(25px);
}
.bottom {
	transform: rotateX(-90deg) translateZ(25px);
}
